h1 {
  text-align: center;
  font-family: lato;
  font-style: oblique;
  font-size: 48px;
  padding: 0, 7%;
}
h2 {
  text-align: center;
  padding: 0.5%;
  font-family: lato;
  font-style: italic;
  font-size: 28px;
  font-weight: 300;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
footer {
  font-family: lato-black;
  position: absolute;
  padding: 1%;
  margin: 1%;
  border-radius: 12px;
  border: 1px solid #87a6f6;
  background-color: #ef7abe;
  cursor: pointer;
}

.banner {
  background-image: url("./imagenes/pexels-nietjuh-1906439.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.navbar {
  font-family: lato-black-italic;
  font-size: 24px;
  background-color: #e1eee1 !important;
}
form,
footer {
  justify-content: center;
  align-items: center;
  text-align-last: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: center;
  width: auto;
}
.form-group > input,
select {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 2px solid #f6a1ec;
}

footer {
  position: relative;
}

.btn-registro {
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
  border: 1px solid #42dcea;
  background-color: #8f5aa7;
  cursor: pointer;
}

.carousel-inner {
  width: 450px;
  height: 550px;
}
