h1 {
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  padding: 1%;
}
h2 {
  text-align: center;
  padding: 0.5%;
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
}
h3 {
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
h4 {
  text-align: center;
}
.product{
  text-align: start!important;
}

.banner {
  background-image: url("./imagenes/pexels-nietjuh-1906439.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.navbar {
  font-family: lato-black-italic;
  font-size: 24px;
  background-color: #e1eee1 !important;
}

.nav-link:hover{
  background-color: #d2dfd2;
}

footer{
  background-color: #9bb98e;
}

.animacion{
  display: flex;
  width: auto;
  height: 450px;
  margin: 10% 20%; 
  padding: 0px;
  
}
.img-anim{
  width: 0;
  flex-grow: 0.9;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.animacion .img-anim:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}


.register-background {
  background: linear-gradient(to top, #9bb98e 50%, #ffffff 50%);
}

.contacto-background {
  display: grid;
  margin: 0 auto;
  /*division en columnas*/
  grid-template-columns: repeat(3, 1fr);
  /*cuantas columnas ocupa el padre?*/
  grid-column-start:1;
  grid-column-end:3;/*-1 tambien hace referencia al último*/
  /*valor del gap*/
  gap:30px;
  background:linear-gradient(to top, #a16c85 50%, #ffffff 50%);
  font-family: lato;
  font-size: small;
  font-style: italic;
}
.aside-contacto {
  /*margin: 60px 20px;*/
  display: grid;
  margin: 0 auto;
  /*division en columnas*/
  grid-template-rows: repeat(2, 1fr);
  /*cuantas columnas ocupa el padre?*/
  grid-row-start:1;
  grid-row-end:2;/*-1 tambien hace referencia al último*/
  /*valor del gap*/
  gap:30px;
}
.btn-contacto {
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px;
  background-color: #63af42;
  cursor: pointer;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lato;
  font-size: small;
  font-style: italic;
}

.form-register {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f2;
  border-radius: 8px;
  padding: 10px;
  border: rgb(199, 199, 199) solid 1px;
  width: 2fr;
  padding: 10px;
  margin: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group > input,
select {
  width: auto;
  padding: 2px 5px;
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid #a16c85;
  background-color: #ffffff;
  height: 3.5vh;
}

.btn-registro {
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px;
  background-color: #ae8196;
  cursor: pointer;
}

#search {
  width: 90%;
  padding: 10px;
  border: 1px solid #bd7ee2;
  border-radius: 5px;
  background-color: #e5bcfc;
}

input[type="submit"] {
  background-color: #9a70b0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.card {
  font-family: lato;
}
.card-title {
  font-family: lato;
  font-weight: bolder;
  font-style: oblique;
}

.btn-primary {
  background-color: #9a70b0 !important;
}

#search {
  margin: 0.5%;
  font-family: lato;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 10px;
  padding: 10px;
  width: 90%;
  grid-template-columns:  auto auto auto;
}
.inicio{
  background: linear-gradient(to top, #9bb98e 50%, #ffffff 50%);
 /* background-color: #8eba8d;*/
}

.nosotros-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "vivero vivero vivero" "foto1"
    "foto2" "foto3" "foto4" "foto5";
  column-gap: 10px;
  row-gap: 10px;
}
.nosotros-container > div {
  text-align: center;
  font-family: lato;
  font-style: italic;
  font-size: 20px;
}
.vivero {
  grid-area: 1 / 1 / span 1 / span 3;
}
.foto1 {
  grid-area: 1 / 4 / span 1 / span 1;
}
.foto2 {
  grid-area: 2 / 1 / span 1 / span 1;
}
.foto3 {
  grid-area: 2/ 2 / span 1 / span 1;
}
.foto4 {
  grid-area: 2 / 3 / span 1 / span 1;
}
.foto5 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.interior-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: space-around; 
    align-items: space-around;
    height: 100%;
    margin: 2%;
}
.interior1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botanico{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.insumos-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: space-around; 
    align-items: space-around;
    height: 100%;
    margin: 2%;
}
.insumos1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insumos2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insumos3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insumos4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insumos5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insumos6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exterior-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: space-around; 
    align-items: space-around;
    height: 100%;
    margin: 2%;
}
.exterior1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exterior2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exterior3{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.exterior4{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.exterior5{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.exterior6{
    display: flex;
    justify-content: center;
    align-items: center;
}
